/* Portfolio styles*/


/* 
Set up some default styles
*/
* {
    padding: 0;
    margin:  0;
    border:  0;
}

h1, h2 {
    font-family: Georgia, serif;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
}


/*
Addiing a border around an image
*/
img {
    border: 1em solid black;
    width: 272px;
    margin-top: 0.94em;
}


/*
Using a div to wrap center content / group of tags
we are calling an ID, so we use a # in front of the name
*/
#wrap-centered {
    width: 100%;
    margin: 0 auto;
}


nav {
    width: 100%;
    margin-top: 1.2em;
}

nav ul {
    list-style-type: none;
    float: right;
    margin-right: 1.2em;
}

nav li {
    display: inline;
    color: #08c;
}


/*
Clear styles using a class caled clear
*/
.clear {
    clear: both;
}

footer {
    margin-top: 3.2em;
}

footer p {
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    background-color: black;
    color: white;
}


.content {
    width: 70%;
    margin: 0 auto;
}

aside {
    width: 35%;
    margin: 1.2em;
    border-right: 0.24em solid black;
    min-height: 300px;
    float: left;
}

section {
    width: 55%;
    display: inline-block; /* palces the section in line with the aside if there is room */
    padding: 0.94em;
    margin: 1.2em 0.94em;  /* margin top, right, bottom, left */
}

section h1 {
    color: red;
    font-size:2.5em;  /* 40px/16=2.5em */
}
