/* Portfolio styles*/


/* 
Set up some default styles
*/
* {
    padding: 0;
    margin:  0;
    border:  0;
}

h1 {
     color: red;
}


/* 
Adding a background colour to a paragraph
*/
p {
    background-color: aqua;
}

/*
Addiing a border around an image
*/
img {
    border: 2em solid black;
}


/*
Using a div to wrap center content / group of tags
we are calling an ID, so we use a # in front of the name
*/
#wrap-centered {
    width: 100%;
    margin: 0 auto;
}
